body{
    display: grid;/*grid*/
    background-color: var(--cor_fundo);
     grid-template-areas: 
    "cab cab cab"
    "pri pri pri"
    "rod rod rod";
    grid-auto-columns: auto;
    grid-auto-rows: 100px auto 100px;
    text-align: right;

}
section{
    border: solid rgb(255, 255, 255) 10px;
    border-radius: 20%;
    height: 50px;
    width: 200px;
    margin: 0 0 0 900px;
}
header{
    grid-area:cab;
    text-align: center;

}
footer{
    grid-area: rod;


}
main{
    grid-area: pri;
    
}
:root{
    --cor_botao_clicado:red;
    --cor_botao_n_clicado: yellow;
    --cor_fundo: rgb(83, 72, 72);
    --cor_titulo:pink;
}
h1{
    color: var(--cor_titulo)

}
.primeiro{
    color: var(--cor_botao_n_clicado);
    color: var(--cor_botao_n_clicado);
    border-radius: 15%;
    margin-top: 30%;
    margin: 15px;
}
.segundo{
    color: var(--cor_botao_clicado);
    color: var(--cor_botao_n_clicado);
}
.festa{
    background-color: blueviolet;
}
